{%extends 'base.html'%}
{% load static %}
{%block content%}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/img/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Want to get in touch? open whatsapp scan the QR and send a message</p>
      <a href="https://wa.me/qr/I6WSVFI2P6VPA1" target="_blank" rel="noopener">
        <img class="img-fluid img-thumbnail" alt="WhatsApp" src="{% static 'images/wapp.jpeg' %}">
      </a>
    </div>
  </div>
</div>
{%endblock content%}